.blurred-pseudo-bg {
	overflow: hidden;
	&:after {
		filter: blur(5px);
		background-color: #000;
		opacity: 0.5;
		content: '';
		position: absolute;
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		z-index: -1;
	}
}
